body{
    background-size:cover;
}

.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px rgb(247, 142, 159)
}

.headingDiv
{
    float:none;
    background: rgb(243, 162, 243);
    padding: 10px;
    border-radius: 20px;
    color: rgb(236, 87, 164);
    box-shadow: 5px 5px 5px rgb(241, 107, 107);


}

.headingDiv2
{
    font-size:18px;
}

.resultToTag
{
    box-shadow: 5px 5px 5px rgb(246, 105, 192);
    font-size: 20px;
}

body{
    background-size: cover;
}

